Steps for Scraping Any Website

To scrape a website using Python, you need to perform these four basic steps:
Sending an HTTP GET request to the URL of the webpage that you want to scrape, which will respond with HTML content. We can do this by using the Request library of Python.
Fetching and parsing the data using Beautifulsoup and maintain the data in some data structure such as Dict or List.
Analyzing the HTML tags and their attributes, such as class, id, and other HTML tag attributes. Also, identifying your HTML tags where your content lives.
Outputting the data in any file format such as CSV, XLSX, JSON, etc.

In [120]:
import pandas as pd

In [1]:
from bs4 import BeautifulSoup
import requests
import time, os

In [2]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

chromedriver = "/Applications/chromedriver" # path to the chromedriver executable
os.environ["webdriver.chrome.driver"] = chromedriver

In [3]:
## LET'S START WITH #1: NAVIGATING TO THE HOMEPAGE OF THE WEBSITE THAT HOSTS THE CLIMATE DATA TABLE I WANT

driver = webdriver.Chrome(chromedriver)
driver.get('http://www.stormfax.com/elnino.htm')

In [14]:
# Make a GET request to fetch the raw HTML content
html_content = requests.get('http://www.stormfax.com/elnino.htm').text

In [15]:
# Parse the html content
soup = BeautifulSoup(html_content, "lxml")
print(soup.prettify()) # print the parsed data of html

<html>
 <head>
  <title>
   STORMFAX® - El Niño Weather
  </title>
  <meta content="Stormfax" name="author"/>
  <meta content="weather" name="classification"/>
  <meta content="Here are the facts without the mumbo-jumbo." name="description"/>
  <meta content="El Nino, El Niño, El-Nino, La Nina, La-Nina, La Niña, ENSO" name="keywords"/>
 </head>
 <body background="/parch.jpg">
  <center>
   <img src="/ElNinoWeb.png"/>
  </center>
  <p>
  </p>
  <center>
   <img src="/ninotele.gif"/>
  </center>
  <center>
   <img src="/smalfax2.gif"/>
  </center>
  <p>
  </p>
  <center>
   <h1>
    <font color="BLUE">
     El Niño and La Niña
    </font>
   </h1>
  </center>
  <center>
   <font size="+1">
    <b>
     (
     <i>
      without
     </i>
     the Mumbo-Jumbo)
    </b>
   </font>
  </center>
  <p>
  </p>
  <center>
   Copyright
   <b>
    ©
   </b>
   1996-2021 STORMFAX
  </center>
  <p>
  </p>
  <center>
   <b>
    El Niño/La Niña
    <a href="http://www.stormfax.com/ninoword.htm">
     Glossary
    </a>
   </b>
  </center>
  <p>
  </p>
  <center>
   <font color="#8B0000" size="+1">
    <b>
     NOAA says 2006 was the second warmest on record (avg: 54.90ºF) for the United States.
    </b>
   </font>
  </center>
  <center>
   <font color="#8B0000" size="+1">
    <b>
     (A mild December helped raise the yearly average to 0.08ºF below 1998)
    </b>
   </font>
  </center>
  <p>
  </p>
  <center>
   <font size="+1">
    <b>
     The World Meteorological Organization says the 1997-'98 El Niño was the strongest in the 20th Century.  It was a major factor in 1997's record high temperatures.  The estimated average surface temperature for land and sea worldwide was 0.8ºF higher than the 1961-1990 average of 61.7ºF.
    </b>
   </font>
  </center>
  <p>
  </p>
  <center>
   <font color="#191970" size="+1">
    <b>
     According to NOAA, 1998 set new all-time record global land
     <br/>
     and ocean surface temperatures, above 1997's record high levels.
     <br/>
     1998's anomaly of 1.2ºF above the long-term (since 1880)
     <br/>
     mean of 56.9ºF is the 20th consecutive year with an annual
     <br/>
     global mean surface temperature higher than the long-term average.
    </b>
   </font>
  </center>
  <p>
  </p>
  <center>
   <font size="+1">
    <b>
     NOAA says the La Niña Winter of 1999-2000, December through February, was the warmest on record (since 1900) for the United States.
    </b>
   </font>
  </center>
  <p>
  </p>
  <hr/>
  <p>
  </p>
  <center>
   <a href="http://www.cpc.ncep.noaa.gov/products/analysis_monitoring/lanina/enso_evolution-status-fcsts-web.pdf" target="Resource Window">
    <img border="0" src="/ElNinoRecordsWeb.jpg"/>
   </a>
  </center>
  <p>
   <b>
    El Niño is characterized by a large scale weakening of the trade winds and warming of the surface layers in the Equatorial eastern and central Pacific Ocean.   El Niño events occur irregularly at intervals of 2-7 years, although the average has been, until recently, about once every 3-4 years and lasting 12-18 months.
   </b>
   (
   <a href="#Table">
    <i>
     see Table
    </i>
   </a>
   )
  </p>
  <p>
   <b>
    El Niño events often result in flooding in California and parts of the midwestern United States, while the southern half of the US experiences cooler-than-normal winters.   Winters are generally warmer than normal in the northern half of the US.   During El Niño years, there are fewer hurricanes in the Atlantic.
   </b>
  </p>
  <p>
  </p>
  <center>
   <font size="+2">
    Average El Niño Winters Worldwide
   </font>
  </center>
  <center>
   <img src="/ninow.gif"/>
  </center>
  <center>
   <font size="-1">
    (map courtesy of  NOAA / CPC / NCEP)
   </font>
  </center>
  <p>
  </p>
  <center>
   <font size="+2">
    Average El Niño Summers Worldwide
   </font>
  </center>
  <center>
   <img src="/ninos.gif"/>
  </center>
  <center>
   <font size="-1">
    (map courtesy of  NOAA / CPC / NCEP)
   </font>
  </center>
  <p>
   <b>
    There has been a confusing range of use for the term "El Niño" by both the scientific community and the general public.  Originally, the term El Niño (
    <i>
     the young boy
    </i>
    , in reference to the Christ child) denoted a warm southward-flowing ocean current that occurred every year around Christmas off the west coast of Peru and Ecuador.   The term was later restricted to an unusually strong warming that disrupted local fish and bird populations every few years.   However, as a result of the frequent association of South American coastal temperature anomalies with interannual basin-scale equatorial warm events, El Niño has also become synonymous with larger scale, climatically-significant, warm events.
   </b>
  </p>
  <p>
   Conversely, La Niña is the cold counterpart of El Niño where sea surface temperatures in the tropical Pacific fall below normal.   This phase is characterized by warm winters in the southeastern United States, colder-than-normal winters from the Pacific Northwest to the Great Lakes, and unsettled winters in the Northeast and Mid-Atlantic states.
   <br/>
   The original name given to this Cold Phase was "
   <b>
    El Viejo
   </b>
   " meaning
   <i>
    <b>
     the old man
    </b>
   </i>
   .
  </p>
  <p>
  </p>
  <center>
   <font size="+2">
    Average La Niña Winters Worldwide
   </font>
  </center>
  <center>
   <img src="/ninaw.gif"/>
  </center>
  <center>
   <font size="-1">
    (map courtesy of  NOAA / CPC / NCEP)
   </font>
  </center>
  <p>
  </p>
  <center>
   <font size="+2">
    Average La Niña Summers Worldwide
   </font>
  </center>
  <center>
   <img src="/ninas.gif"/>
  </center>
  <center>
   <font size="-1">
    (map courtesy of  NOAA / CPC / NCEP)
   </font>
  </center>
  <p>
   <a name="Table">
    <center>
     <img src="/almanac2.gif"/>
    </center>
    <p>
    </p>
    <center>
     <table border="8" cellpadding="8" cellspacing="5" width="50%">
      <tr bgcolor="FFFFE0">
       <th>
        <h2>
         <font color="RED">
          El Niño
          <br/>
          Years
         </font>
        </h2>
       </th>
       <th>
        <h2>
         <font color="BLUE">
          La Niña
          <br/>
          Years
         </font>
        </h2>
       </th>
      </tr>
      <tr align="center">
       <td>
        <b>
         1900-1901
        </b>
       </td>
       <td>
       </td>
      </tr>
      <tr align="center">
       <td>
        <b>
         1902-1903
        </b>
       </td>
       <td>
        <b>
         1903-1904
        </b>
       </td>
      </tr>
      <tr align="center">
       <td>
        <b>
         1905-1906
        </b>
       </td>
       <td>
        <b>
         1906-1907
        </b>
       </td>
      </tr>
      <tr align="center">
       <td>
       </td>
       <td>
        <b>
         1908-1909
        </b>
       </td>
      </tr>
      <tr align="center">
       <td>
        <b>
         1911-1912
        </b>
       </td>
       <td>
       </td>
      </tr>
      <tr align="center">
       <td>
        <b>
         1914-1915
        </b>
       </td>
       <td>
        <b>
         1916-1917
        </b>
       </td>
      </tr>
      <tr align="center">
       <td>
        <b>
         1918-1919
        </b>
       </td>
       <td>
        <b>
         1920-1921
        </b>
       </td>
      </tr>
      <tr align="center">
       <td>
        <b>
         1923-1924
        </b>
       </td>
       <td>
        <b>
         1924-1925
        </b>
       </td>
      </tr>
      <tr align="center">
       <td>
        <b>
         1925-1926
        </b>
       </td>
       <td>
        <b>
         1928-1929
        </b>
       </td>
      </tr>
      <tr align="center">
       <td>
        <b>
         1930-1931
        </b>
       </td>
       <td>
        <b>
         1931-1932
        </b>
       </td>
      </tr>
      <tr align="center">
       <td>
        <b>
         1932-1933
        </b>
       </td>
       <td>
        <b>
         1938-1939
        </b>
       </td>
      </tr>
      <tr align="center">
       <td>
        <b>
         1939-1940
        </b>
       </td>
       <td>
       </td>
      </tr>
      <tr align="center">
       <td>
        <b>
         1940-1941
        </b>
       </td>
       <td>
       </td>
      </tr>
      <tr align="center">
       <td>
        <b>
         1941-1942
        </b>
       </td>
       <td>
        <b>
         1942-1943
        </b>
       </td>
      </tr>
      <tr align="center">
       <td>
        <b>
         1946-1947
        </b>
       </td>
       <td>
        <b>
         1949-1950
        </b>
       </td>
      </tr>
      <tr align="center">
       <td>
        <b>
         1951-1952
        </b>
       </td>
       <td>
       </td>
      </tr>
      <tr align="center">
       <td>
        <b>
         1953-1954
        </b>
       </td>
       <td>
        <b>
         1954-1955
        </b>
       </td>
      </tr>
      <tr align="center">
       <td>
        <b>
         1957-1958
        </b>
       </td>
       <td>
       </td>
      </tr>
      <tr align="center">
       <td>
        <b>
         1963-1964
        </b>
       </td>
       <td>
        <b>
         1964-1965
        </b>
       </td>
      </tr>
      <tr align="center">
       <td>
        <b>
         1965-1966
        </b>
       </td>
       <td>
       </td>
      </tr>
      <tr align="center">
       <td>
        <b>
         1969-1970
        </b>
       </td>
       <td>
        <b>
         1970-1971
        </b>
       </td>
      </tr>
      <tr align="center">
       <td>
        <b>
         1972-1973
        </b>
       </td>
       <td>
        <b>
         1973-1974
        </b>
       </td>
      </tr>
      <tr align="center">
       <td>
       </td>
       <td>
        <b>
         1975-1976
        </b>
       </td>
      </tr>
      <tr align="center">
       <td>
        <b>
         1976-1977
        </b>
       </td>
       <td>
       </td>
      </tr>
      <tr align="center">
       <td>
        <b>
         1977-1978
        </b>
       </td>
       <td>
       </td>
      </tr>
      <tr align="center">
       <td>
        <b>
         1982-1983
        </b>
       </td>
       <td>
       </td>
      </tr>
      <tr align="center">
       <td>
        <b>
         1986-1987
        </b>
       </td>
       <td>
        <b>
         1988-1989
        </b>
       </td>
      </tr>
      <tr align="center">
       <td>
        <b>
         1991-1992
        </b>
       </td>
       <td>
       </td>
      </tr>
      <tr align="center">
       <td>
        <b>
         1992-1993
        </b>
       </td>
       <td>
       </td>
      </tr>
      <tr align="center">
       <td>
        <b>
         1994-1995
        </b>
       </td>
       <td>
        <b>
         1995-1996
        </b>
       </td>
      </tr>
      <tr align="center">
       <td>
        <b>
         1997-1998
        </b>
       </td>
       <td>
        <b>
         1998-1999
        </b>
       </td>
      </tr>
      <tr align="center">
       <td>
       </td>
       <td>
        <b>
         2000-2001
        </b>
       </td>
      </tr>
      <tr align="center">
       <td>
        <b>
         2002-2003
        </b>
       </td>
       <td>
       </td>
      </tr>
      <tr align="center">
       <td>
        <b>
         2004-2005
        </b>
       </td>
       <td>
       </td>
      </tr>
      <tr align="center">
       <td>
       </td>
       <td>
        <b>
         early 2006
        </b>
       </td>
      </tr>
      <tr align="center">
       <td>
        <b>
         2006-2007
        </b>
       </td>
       <td>
       </td>
      </tr>
      <tr align="center">
       <td>
       </td>
       <td>
        <b>
         2007-2008
        </b>
       </td>
      </tr>
      <tr align="center">
       <td>
        <b>
         2009
        </b>
       </td>
       <td>
       </td>
      </tr>
      <tr align="center">
       <td>
       </td>
       <td>
        <b>
         late 2010 - early 2011
        </b>
       </td>
      </tr>
      <tr align="center">
       <td>
        <b>
         2015 - mid 2016
        </b>
       </td>
       <td>
        <b>
         late 2016
        </b>
       </td>
      </tr>
      <tr align="center">
       <td>
        <a href="https://www.cpc.ncep.noaa.gov/products/predictions/90day/" target="Resource Window">
         <b>
          late 2018 - mid 2019
         </b>
        </a>
       </td>
       <td>
       </td>
      </tr>
      <tr bgcolor="FFFFE0">
       <th>
        <h2>
         <font color="RED">
          El Niño
          <br/>
          Years
         </font>
        </h2>
       </th>
       <th>
        <h2>
         <font color="BLUE">
          La Niña
          <br/>
          Years
         </font>
        </h2>
       </th>
      </tr>
     </table>
    </center>
    <p>
     <b>
      Until the 1997-'98 El Niño, the 1982-'83 episode had been the strongest and most devastating of the 20th Century.  During that period, the trade winds not only collapsed--they reversed.
     </b>
    </p>
    <p>
     It caused weather-related disasters on nearly every continent.  Australia, Africa and Indonesia suffered droughts, dust storms and brush fires.  Peru received the heaviest rainfall on record: 11 feet in areas where 6 inches was normal.
    </p>
    <p>
     The 1982-'83 El Niño was blamed for as many as 2,000 deaths and more than $13 billion in damage to property and livelihoods worldwide.  During this period, the thermocline off the South American coast dropped to about 500 feet.  On September 22, in just 24 hours, sea-surface temperatures along the coastal village of Paita, Peru rose 7ºF.
    </p>
    <p>
    </p>
    <center>
     <h3>
      1982-'83 U.S. El Niño Damage Statistics (from FEMA)
     </h3>
    </center>
    <center>
     <table border="8" cellpadding="8" cellspacing="5" width="50%">
      <tr bgcolor="FFFFE0">
       <th>
        REGION
       </th>
       <th>
        LOSS
       </th>
       <th>
        CAUSES
       </th>
      </tr>
      <tr>
       <td>
        Continental United States
       </td>
       <td>
        <b>
         $2 billion
        </b>
       </td>
       <td>
        Storms and flooding
       </td>
      </tr>
      <tr>
       <td>
        Gulf States
       </td>
       <td>
        <b>
         $1.2 billion
        </b>
       </td>
       <td>
        Floods
       </td>
      </tr>
      <tr>
       <td>
        Mountain and Pacific States
       </td>
       <td>
        <b>
         $1 billion
        </b>
       </td>
       <td>
        Heavy rains
       </td>
      </tr>
      <tr>
       <td>
        Hawaii
       </td>
       <td>
        <b>
         $230 million
        </b>
       </td>
       <td>
        Hurricane strengthened by El Niño
       </td>
      </tr>
     </table>
    </center>
    <p>
     There were also secondary problems caused by the 1982-'83 El Niño.   Encephalitis outbreaks occurred on the east coast of the U.S. attributed to a warm, wet spring fostering mosquitoes.   Snake bites became more numerous in Montana, as the hot, dry weather drove mice from high elevations downward in search of food and water and the rattlesnakes followed.   A rise in bubonic plague in New Mexico resulted from a cool, wet spring providing favorable conditions for flea-carrying rodents.   An increase in shark attacks off the Oregon coast was due to unseasonably warm sea temperatures.
    </p>
    <p>
     Some meteorologists have tied El Niño to above-normal temperatures in Alaska and northwestern Canada with a reduction in the salmon harvest. (
     <i>
      see
     </i>
     <a href="http://www.msc-smc.ec.gc.ca/cd/brochures/elnino_e.cfm#3" target="Resource Window">
      <i>
       Canadian Bulletin
      </i>
     </a>
     )
    </p>
    <p>
     <b>
      In the eastern United States, the Winter of 1982-'83 was the warmest in 25 years.
     </b>
    </p>
    <p>
    </p>
    <center>
     <font size="-1">
      (Information courtesy of  NOAA / PMEL / TAO)
     </font>
    </center>
    <p>
    </p>
    <hr/>
    <p>
    </p>
    <center>
     <img src="/rain_hlp.gif"/>
    </center>
    <center>
     <b>
      <font size="+2">
       What impact will El Niño have on the United States?
      </font>
     </b>
    </center>
    <p>
    </p>
    <center>
     <img align="TOP" src="/usamap.gif"/>
     <font size="+1">
      <b>
       Latest
       <a href="http://www.cpc.ncep.noaa.gov/products/predictions//multi_season/13_seasonal_outlooks/color/churchill.php" target="Resource Window">
        Temperature &amp; Precipitation
       </a>
      </b>
      Outlook
     </font>
     (NOAA)
     <img src="/noaabull.gif"/>
    </center>
    <p>
    </p>
    <center>
     <img src="/GranlundELNINO2015.jpg"/>
    </center>
    <center>
     <b>
      © 2015 Dave Granlund
     </b>
    </center>
    <p>
    </p>
    <hr/>
    <p>
    </p>
    <center>
     <font size="+2">
      Latest
      <b>
       El Niño/LaNiña
       <a href="http://www.cpc.ncep.noaa.gov/products/analysis_monitoring/enso_advisory/ensodisc.html" target="Resource Window">
        Advisory
       </a>
      </b>
     </font>
     (
     <i>
      NOAA / CPC
     </i>
     )
     <img src="/aniupdat.gif"/>
    </center>
    <p>
    </p>
    <center>
     <img src="/elninometer-09.gif"/>
    </center>
    <center>
     <img src="/noaa_logo.jpg"/>
    </center>
    <center>
     <h4>
      <i>
       Sea surface temperature (°C) departure from normal
       <font color="red">
        as of 5/4/21
       </font>
      </i>
     </h4>
    </center>
    <hr/>
    <p>
    </p>
    <center>
     <img src="/fingerpt.gif"/>
     <font size="+2">
      <b>
       Southern Oscillation
       <a href="http://www.ncdc.noaa.gov/teleconnections/enso/indicators/soi.php" target="Resource Window">
        Index
       </a>
       (SOI)
      </b>
     </font>
    </center>
    <p>
    </p>
    <hr/>
    <p>
    </p>
    <center>
     <img src="/wavyarow.gif"/>
     <font size="+2">
      <b>
       El Niño and
       <a href="http://geochange.er.usgs.gov/sw/changes/natural/elnino/" target="Resource Window">
        Landslides
       </a>
      </b>
     </font>
     <a href="http://landslides.usgs.gov" target="Resource Window">
      <img border="0" src="/miniusgs.gif"/>
     </a>
    </center>
    <p>
    </p>
    <hr/>
    <center>
     <font size="+1">
      <b>
       STORMFAX® El Niño/La Niña
       <a href="http://www.stormfax.com/ninoword.htm">
        Glossary
       </a>
      </b>
     </font>
    </center>
    <hr/>
    <center>
     <font color="BROWN" size="-1">
      <b>
       STORMFAX and the STORMFAX logo are registered trademarks in the United States and Canada
      </b>
     </font>
    </center>
    <center>
     <img alt="20 Years Logo" src="/20thBannerSTORMFAX3.jpg"/>
    </center>
    <hr/>
    <p>
    </p>
    <center>
     <img src="/note_icn.gif"/>
     <b>
      Please read our
      <a href="http://www.stormfax.com/legal8.htm">
       Legal
      </a>
      Notice and our
      <a href="http://www.stormfax.com/privacy8.htm">
       Privacy
      </a>
      Statement.
     </b>
    </center>
    <center>
     <b>
      Copyright ©1996-2021 STORMFAX
     </b>
    </center>
    <p>
    </p>
    <center>
     <img src="/0_edge_l.gif"/>
     <a href="http://www.stormfax.com/index.htm">
      <img border="0" src="/1_home.gif"/>
     </a>
     <a href="http://www.stormfax.com/safepage.htm">
      <img border="0" src="/3morinfo.gif"/>
     </a>
     <img src="/6_edge_r.gif"/>
    </center>
   </a>
  </p>
 </body>
</html>

In [17]:
# Print the title of the webpage
print(soup.title.text)

STORMFAX® - El Niño Weather

In [63]:
soup.find('h2').next_sibling

In [74]:
my_table = soup.find('a', {'name': 'Table'}).find('table')

In [75]:
my_table

<table border="8" cellpadding="8" cellspacing="5" width="50%">
<tr bgcolor="FFFFE0">
<th><h2><font color="RED">El Niño<br/>Years</font></h2></th><th><h2><font color="BLUE">La Niña<br/>Years</font></h2></th></tr>
<tr align="center"><td><b>1900-1901</b></td><td></td></tr>
<tr align="center"><td><b>1902-1903</b></td><td><b>1903-1904</b></td></tr>
<tr align="center"><td><b>1905-1906</b></td><td><b>1906-1907</b></td></tr>
<tr align="center"><td></td><td><b>1908-1909</b></td></tr>
<tr align="center"><td><b>1911-1912</b></td><td></td></tr>
<tr align="center"><td><b>1914-1915</b></td><td><b>1916-1917</b></td></tr>
<tr align="center"><td><b>1918-1919</b></td><td><b>1920-1921</b></td></tr>
<tr align="center"><td><b>1923-1924</b></td><td><b>1924-1925</b></td></tr>
<tr align="center"><td><b>1925-1926</b></td><td><b>1928-1929</b></td></tr>
<tr align="center"><td><b>1930-1931</b></td><td><b>1931-1932</b></td></tr>
<tr align="center"><td><b>1932-1933</b></td><td><b>1938-1939</b></td></tr>
<tr align="center"><td><b>1939-1940</b></td><td></td></tr>
<tr align="center"><td><b>1940-1941</b></td><td></td></tr>
<tr align="center"><td><b>1941-1942</b></td><td><b>1942-1943</b></td></tr>
<tr align="center"><td><b>1946-1947</b></td><td><b>1949-1950</b></td></tr>
<tr align="center"><td><b>1951-1952</b></td><td></td></tr>
<tr align="center"><td><b>1953-1954</b></td><td><b>1954-1955</b></td></tr>
<tr align="center"><td><b>1957-1958</b></td><td></td></tr>
<tr align="center"><td><b>1963-1964</b></td><td><b>1964-1965</b></td></tr>
<tr align="center"><td><b>1965-1966</b></td><td></td></tr>
<tr align="center"><td><b>1969-1970</b></td><td><b>1970-1971</b></td></tr>
<tr align="center"><td><b>1972-1973</b></td><td><b>1973-1974</b></td></tr>
<tr align="center"><td></td><td><b>1975-1976</b></td></tr>
<tr align="center"><td><b>1976-1977</b></td><td></td></tr>
<tr align="center"><td><b>1977-1978</b></td><td></td></tr>
<tr align="center"><td><b>1982-1983</b></td><td></td></tr>
<tr align="center"><td><b>1986-1987</b></td><td><b>1988-1989</b></td></tr>
<tr align="center"><td><b>1991-1992</b></td><td></td></tr>
<tr align="center"><td><b>1992-1993</b></td><td></td></tr>
<tr align="center"><td><b>1994-1995</b></td><td><b>1995-1996</b></td></tr>
<tr align="center"><td><b>1997-1998</b></td><td><b>1998-1999</b></td></tr>
<tr align="center"><td></td><td><b>2000-2001</b></td></tr>
<tr align="center"><td><b>2002-2003</b></td><td></td></tr>
<tr align="center"><td><b>2004-2005</b></td><td></td></tr>
<tr align="center"><td></td><td><b>early 2006</b></td></tr>
<tr align="center"><td><b>2006-2007</b></td><td></td></tr>
<tr align="center"><td></td><td><b>2007-2008</b></td></tr>
<tr align="center"><td><b>2009</b></td><td></td></tr>
<tr align="center"><td></td><td><b>late 2010 - early 2011</b></td></tr>
<tr align="center"><td><b>2015 - mid 2016</b></td><td><b>late 2016</b></td></tr>
<tr align="center"><td><a href="https://www.cpc.ncep.noaa.gov/products/predictions/90day/" target="Resource Window"><b>late 2018 - mid 2019</b></a></td><td></td></tr>
<tr bgcolor="FFFFE0">
<th><h2><font color="RED">El Niño<br/>Years</font></h2></th><th><h2><font color="BLUE">La Niña<br/>Years</font></h2></th></tr>
</table>

In [80]:
rows = my_table.find_all('tr')

In [99]:
#Just get the rows we care about
rows = rows[1:-1]

In [100]:
#
rows

[<tr align="center"><td><b>1900-1901</b></td><td></td></tr>,
 <tr align="center"><td><b>1902-1903</b></td><td><b>1903-1904</b></td></tr>,
 <tr align="center"><td><b>1905-1906</b></td><td><b>1906-1907</b></td></tr>,
 <tr align="center"><td></td><td><b>1908-1909</b></td></tr>,
 <tr align="center"><td><b>1911-1912</b></td><td></td></tr>,
 <tr align="center"><td><b>1914-1915</b></td><td><b>1916-1917</b></td></tr>,
 <tr align="center"><td><b>1918-1919</b></td><td><b>1920-1921</b></td></tr>,
 <tr align="center"><td><b>1923-1924</b></td><td><b>1924-1925</b></td></tr>,
 <tr align="center"><td><b>1925-1926</b></td><td><b>1928-1929</b></td></tr>,
 <tr align="center"><td><b>1930-1931</b></td><td><b>1931-1932</b></td></tr>,
 <tr align="center"><td><b>1932-1933</b></td><td><b>1938-1939</b></td></tr>,
 <tr align="center"><td><b>1939-1940</b></td><td></td></tr>,
 <tr align="center"><td><b>1940-1941</b></td><td></td></tr>,
 <tr align="center"><td><b>1941-1942</b></td><td><b>1942-1943</b></td></tr>,
 <tr align="center"><td><b>1946-1947</b></td><td><b>1949-1950</b></td></tr>,
 <tr align="center"><td><b>1951-1952</b></td><td></td></tr>,
 <tr align="center"><td><b>1953-1954</b></td><td><b>1954-1955</b></td></tr>,
 <tr align="center"><td><b>1957-1958</b></td><td></td></tr>,
 <tr align="center"><td><b>1963-1964</b></td><td><b>1964-1965</b></td></tr>,
 <tr align="center"><td><b>1965-1966</b></td><td></td></tr>,
 <tr align="center"><td><b>1969-1970</b></td><td><b>1970-1971</b></td></tr>,
 <tr align="center"><td><b>1972-1973</b></td><td><b>1973-1974</b></td></tr>,
 <tr align="center"><td></td><td><b>1975-1976</b></td></tr>,
 <tr align="center"><td><b>1976-1977</b></td><td></td></tr>,
 <tr align="center"><td><b>1977-1978</b></td><td></td></tr>,
 <tr align="center"><td><b>1982-1983</b></td><td></td></tr>,
 <tr align="center"><td><b>1986-1987</b></td><td><b>1988-1989</b></td></tr>,
 <tr align="center"><td><b>1991-1992</b></td><td></td></tr>,
 <tr align="center"><td><b>1992-1993</b></td><td></td></tr>,
 <tr align="center"><td><b>1994-1995</b></td><td><b>1995-1996</b></td></tr>,
 <tr align="center"><td><b>1997-1998</b></td><td><b>1998-1999</b></td></tr>,
 <tr align="center"><td></td><td><b>2000-2001</b></td></tr>,
 <tr align="center"><td><b>2002-2003</b></td><td></td></tr>,
 <tr align="center"><td><b>2004-2005</b></td><td></td></tr>,
 <tr align="center"><td></td><td><b>early 2006</b></td></tr>,
 <tr align="center"><td><b>2006-2007</b></td><td></td></tr>,
 <tr align="center"><td></td><td><b>2007-2008</b></td></tr>,
 <tr align="center"><td><b>2009</b></td><td></td></tr>,
 <tr align="center"><td></td><td><b>late 2010 - early 2011</b></td></tr>,
 <tr align="center"><td><b>2015 - mid 2016</b></td><td><b>late 2016</b></td></tr>,
 <tr align="center"><td><a href="https://www.cpc.ncep.noaa.gov/products/predictions/90day/" target="Resource Window"><b>late 2018 - mid 2019</b></a></td><td></td></tr>]

In [105]:
# Find all the td's
split_rows = [row.find_all('td') for row in rows]

In [106]:
split_rows

[[<td><b>1900-1901</b></td>, <td></td>],
 [<td><b>1902-1903</b></td>, <td><b>1903-1904</b></td>],
 [<td><b>1905-1906</b></td>, <td><b>1906-1907</b></td>],
 [<td></td>, <td><b>1908-1909</b></td>],
 [<td><b>1911-1912</b></td>, <td></td>],
 [<td><b>1914-1915</b></td>, <td><b>1916-1917</b></td>],
 [<td><b>1918-1919</b></td>, <td><b>1920-1921</b></td>],
 [<td><b>1923-1924</b></td>, <td><b>1924-1925</b></td>],
 [<td><b>1925-1926</b></td>, <td><b>1928-1929</b></td>],
 [<td><b>1930-1931</b></td>, <td><b>1931-1932</b></td>],
 [<td><b>1932-1933</b></td>, <td><b>1938-1939</b></td>],
 [<td><b>1939-1940</b></td>, <td></td>],
 [<td><b>1940-1941</b></td>, <td></td>],
 [<td><b>1941-1942</b></td>, <td><b>1942-1943</b></td>],
 [<td><b>1946-1947</b></td>, <td><b>1949-1950</b></td>],
 [<td><b>1951-1952</b></td>, <td></td>],
 [<td><b>1953-1954</b></td>, <td><b>1954-1955</b></td>],
 [<td><b>1957-1958</b></td>, <td></td>],
 [<td><b>1963-1964</b></td>, <td><b>1964-1965</b></td>],
 [<td><b>1965-1966</b></td>, <td></td>],
 [<td><b>1969-1970</b></td>, <td><b>1970-1971</b></td>],
 [<td><b>1972-1973</b></td>, <td><b>1973-1974</b></td>],
 [<td></td>, <td><b>1975-1976</b></td>],
 [<td><b>1976-1977</b></td>, <td></td>],
 [<td><b>1977-1978</b></td>, <td></td>],
 [<td><b>1982-1983</b></td>, <td></td>],
 [<td><b>1986-1987</b></td>, <td><b>1988-1989</b></td>],
 [<td><b>1991-1992</b></td>, <td></td>],
 [<td><b>1992-1993</b></td>, <td></td>],
 [<td><b>1994-1995</b></td>, <td><b>1995-1996</b></td>],
 [<td><b>1997-1998</b></td>, <td><b>1998-1999</b></td>],
 [<td></td>, <td><b>2000-2001</b></td>],
 [<td><b>2002-2003</b></td>, <td></td>],
 [<td><b>2004-2005</b></td>, <td></td>],
 [<td></td>, <td><b>early 2006</b></td>],
 [<td><b>2006-2007</b></td>, <td></td>],
 [<td></td>, <td><b>2007-2008</b></td>],
 [<td><b>2009</b></td>, <td></td>],
 [<td></td>, <td><b>late 2010 - early 2011</b></td>],
 [<td><b>2015 - mid 2016</b></td>, <td><b>late 2016</b></td>],
 [<td><a href="https://www.cpc.ncep.noaa.gov/products/predictions/90day/" target="Resource Window"><b>late 2018 - mid 2019</b></a></td>,
  <td></td>]]

In [116]:
split_rows[0][0].text

'1900-1901'

In [117]:
clean_table = []

for row in split_rows:
    single_row = []
    for data in row:
        single_row.append(data.text)
    clean_table.append(single_row)

In [118]:
clean_table

[['1900-1901', ''],
 ['1902-1903', '1903-1904'],
 ['1905-1906', '1906-1907'],
 ['', '1908-1909'],
 ['1911-1912', ''],
 ['1914-1915', '1916-1917'],
 ['1918-1919', '1920-1921'],
 ['1923-1924', '1924-1925'],
 ['1925-1926', '1928-1929'],
 ['1930-1931', '1931-1932'],
 ['1932-1933', '1938-1939'],
 ['1939-1940', ''],
 ['1940-1941', ''],
 ['1941-1942', '1942-1943'],
 ['1946-1947', '1949-1950'],
 ['1951-1952', ''],
 ['1953-1954', '1954-1955'],
 ['1957-1958', ''],
 ['1963-1964', '1964-1965'],
 ['1965-1966', ''],
 ['1969-1970', '1970-1971'],
 ['1972-1973', '1973-1974'],
 ['', '1975-1976'],
 ['1976-1977', ''],
 ['1977-1978', ''],
 ['1982-1983', ''],
 ['1986-1987', '1988-1989'],
 ['1991-1992', ''],
 ['1992-1993', ''],
 ['1994-1995', '1995-1996'],
 ['1997-1998', '1998-1999'],
 ['', '2000-2001'],
 ['2002-2003', ''],
 ['2004-2005', ''],
 ['', 'early 2006'],
 ['2006-2007', ''],
 ['', '2007-2008'],
 ['2009', ''],
 ['', 'late 2010 - early 2011'],
 ['2015 - mid 2016', 'late 2016'],
 ['late 2018 - mid 2019', '']]

In [128]:
Nino_table = pd.DataFrame(clean_table, columns = ['El_Nino', 'La_Nina'])

In [129]:
Nino_table

                 El_Nino                 La_Nina
0              1900-1901
1              1902-1903               1903-1904
2              1905-1906               1906-1907
3                                      1908-1909
4              1911-1912
5              1914-1915               1916-1917
6              1918-1919               1920-1921
7              1923-1924               1924-1925
8              1925-1926               1928-1929
9              1930-1931               1931-1932
10             1932-1933               1938-1939
11             1939-1940
12             1940-1941
13             1941-1942               1942-1943
14             1946-1947               1949-1950
15             1951-1952
16             1953-1954               1954-1955
17             1957-1958
18             1963-1964               1964-1965
19             1965-1966
20             1969-1970               1970-1971
21             1972-1973               1973-1974
22                                     1975-1976
23             1976-1977
24             1977-1978
25             1982-1983
26             1986-1987               1988-1989
27             1991-1992
28             1992-1993
29             1994-1995               1995-1996
30             1997-1998               1998-1999
31                                     2000-2001
32             2002-2003
33             2004-2005
34                                    early 2006
35             2006-2007
36                                     2007-2008
37                  2009
38                        late 2010 - early 2011
39       2015 - mid 2016               late 2016
40  late 2018 - mid 2019

In [139]:
## Split the dates in each of the two columns. 
Nino_table.El_Nino.str.split

In [144]:
Nino_table[['El_Nino_Left','El_Nino_Right']] = Nino_table.El_Nino.str.split("-",expand=True,)

In [159]:
Nino_table.head()

     El_Nino    La_Nina El_Nino_Left El_Nino_Right La_Nina_Left La_Nina_Right
0  1900-1901                    1900          1901                       None
1  1902-1903  1903-1904         1902          1903         1903          1904
2  1905-1906  1906-1907         1905          1906         1906          1907
3             1908-1909                       None         1908          1909
4  1911-1912                    1911          1912                       None

In [150]:
Nino_table.drop('Nino_dont_use', inplace=True, axis=1)

In [153]:
Nino_table.drop('La_nina_dont_use', inplace=True, axis=1)

In [155]:
Nino_table[['La_Nina_Left','La_Nina_Right']] = Nino_table.La_Nina.str.split("-",expand=True,)

In [160]:
Nino_table

,El_Nino,La_Nina,El_Nino_Left,El_Nino_Right,La_Nina_Left,La_Nina_Right
0,1900-1901,,1900,1901,,None
1,1902-1903,1903-1904,1902,1903,1903,1904
2,1905-1906,1906-1907,1905,1906,1906,1907
3,,1908-1909,,None,1908,1909
4,1911-1912,,1911,1912,,None
5,1914-1915,1916-1917,1914,1915,1916,1917
6,1918-1919,1920-1921,1918,1919,1920,1921
7,1923-1924,1924-1925,1923,1924,1924,1925
8,1925-1926,1928-1929,1925,1926,1928,1929
9,1930-1931,1931-1932,1930,1931,1931,1932
10,1932-1933,1938-1939,1932,1933,1938,1939
11,1939-1940,,1939,1940,,None
12,1940-1941,,1940,1941,,None
13,1941-1942,1942-1943,1941,1942,1942,1943
14,1946-1947,1949-1950,1946,1947,1949,1950
15,1951-1952,,1951,1952,,None
16,1953-1954,1954-1955,1953,1954,1954,1955
17,1957-1958,,1957,1958,,None
18,1963-1964,1964-1965,1963,1964,1964,1965
19,1965-1966,,1965,1966,,None
20,1969-1970,1970-1971,1969,1970,1970,1971
21,1972-1973,1973-1974,1972,1973,1973,1974
22,,1975-1976,,None,1975,1976
23,1976-1977,,1976,1977,,None
24,1977-1978,,1977,1978,,None
25,1982-1983,,1982,1983,,None
26,1986-1987,1988-1989,1986,1987,1988,1989
27,1991-1992,,1991,1992,,None
28,1992-1993,,1992,1993,,None
29,1994-1995,1995-1996,1994,1995,1995,1996
30,1997-1998,1998-1999,1997,1998,1998,1999
31,,2000-2001,,None,2000,2001
32,2002-2003,,2002,2003,,None
33,2004-2005,,2004,2005,,None
34,,early 2006,,None,early 2006,None
35,2006-2007,,2006,2007,,None
36,,2007-2008,,None,2007,2008
37,2009,,2009,None,,None
38,,late 2010 - early 2011,,None,late 2010,early 2011
39,2015 - mid 2016,late 2016,2015,mid 2016,late 2016,None
40,late 2018 - mid 2019,,late 2018,mid 2019,,None

In [157]:
## Export this table to be merged with the Larger climate dataset

Nino_table.to_csv('Nino_Nina_dates.csv', index = False)